<%%@include file="/init.jsp" %>

<portlet:renderURL var="addItemURL">
  <portlet:param name="jspPage" value="/add.jsp" />
  <portlet:param name="backURL" value="${currentURL}" />
</portlet:renderURL>

<a href="${addItemURL}">Add Item</a>

<liferay-ui:search-container searchContainer="${searchContainer}" >
  <liferay-ui:search-container-results
  results="${searchContainer.results}"
  total="${searchContainer.total}"
  />

  <liferay-ui:search-container-row
  className="mil.army.hrc.ikrome.<%= template_variables['project_name'] %>.model.<%= template_variables['name'] %>"
  keyProperty="<%= template_variables['primary_key'] %>"
  modelVar="item"
  >
<% template_variables['columns'].each do |column_name, column_object| %>
    <liferay-ui:search-container-column-text
    name="<%=column_name  %>"
    property="<%=column_name %>"
    />
<% end %>
      <liferay-ui:search-container-column-text
    name="actions"
    >
      <liferay-ui:icon-menu >
        <portlet:renderURL var="updateItemURL">
          <portlet:param name="itemId" value="${item.<%= template_variables['primary_key'] %>}" />
<% template_variables['columns'].each do |column_name, column_object| %>
       <portlet:param name="<%=column_name%>" value="${item.<%=column_name%>}" />
<% end %>
          <portlet:param name="backURL" value="${currentURL}" />
          <portlet:param name="jspPage" value="/edit.jsp" />
        </portlet:renderURL>
        <liferay-ui:icon image="edit" message="edit" url="${updateItemURL}" />
        <portlet:actionURL name="deleteItem" var="deleteItemURL">
          <portlet:param name="item-id" value="${item.<%= template_variables['primary_key'] %>}" />
          <portlet:param name="redirect" value="${currentURL}" />
        </portlet:actionURL>
        <liferay-ui:icon-delete url="${deleteItemURL}" />
      </liferay-ui:icon-menu>
    </liferay-ui:search-container-column-text>

  </liferay-ui:search-container-row>

  <liferay-ui:search-iterator />

</liferay-ui:search-container>
